doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap-grid.min.css" integrity="sha512-QWjMsIpO5eW4+c4ASTEaZ4+eZNZ4YTtSDiu167Rq1Eqw//WlO+rXo4OvZMpyW/ykbN5LFeXmN6N416OzmWo7fA==", crossorigin="anonymous", referrerpolicy="no-referrer")
        link(rel="stylesheet", href="../style.css")
    body
        .container
            main
                h1 Userinfo
                .dashboard.row.g-4
                    .col-6= `Full Name: ${userinfo.fullname}`
                    .col-6= `Email: ${userinfo.email}`
                    .col-6= `Address: ${userinfo.adress}`
                    .col-6= `Contact No: ${userinfo.contact_no}`
                    .col-6= `Date of Birth: ${userinfo.dobConverted}`
        